{% block index %}
{% block reg %}
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}{% endblock %}</title>
            {% load static %}
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/css/Normalize.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/CSS/Main.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/CSS/register.css' %}">
        </head>

        <body>
            <div class="container">
                <div class="row">
                    <div id="content" class="col-md-8">
                        
                        
                        
                    </div>
                </div>
            </div>
            {% block add_book %}
            {% endblock %}
            {% block user_book_list %}
            {% endblock %}
            {% block bookk %}
            {% endblock %}
            
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>
</html>
{% endblock reg %}
{% endblock index%}
