{% extends "blog/base.html" %}
{% block index %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multilib</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/CSS/Normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/CSS/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/CSS/Main.css' %}">
</head>
<body>

    <header class="header">
        <div class="container__header">
            <div class="fon">
                <a href="#!" class="fon__item"><img src="{% static 'blog/images/png/переключатель тем.png' %}" alt=""></a>
            </div>
            <div class="Logo">
                <img src="{% static 'blog/images/png/логотип светится.png' %}" alt="" class="Logo">
            </div>
            <div class="burger">
                <button class="burger__item" id="menu"><img src="{% static 'blog/images/png/burger.png' %}" alt=""></button>
            </div>
        </div>

        <nav class="header__nav">
            <div class="container__header ">
                <div class="header__list__icons">
                    <a href="{% url 'blog:add_book' %}" class="to_write_a_book"><img src="{% static 'blog/images/png/write_book.png' %}" alt=""></a>
                    <a href="#!" class="book_manga_switch"><img src="{% static 'blog/images/png/манга.png' %}" alt="">
                    <a href="#!" class="bookmark"><img src="{% static 'blog/images/png/закладка.png' %}" alt=""></a>
                    <a href="#!" class="genre_selection"><img src="{% static 'blog/images/png/выбор жанра.png' %}" alt=""></a>
                </div>
                <div class="bar">
                    <input type="text" class="search_bar">
                </div>
            </div>
        </nav>

        <nav class="header__nav">
            <hr>
                <ul class="header__list">
                    <li><a href="#!">Подборки</a></li>
                    <li><a href="#!">Каталог</a></li>
                    <li><a href="./populir.html">Популярное</a></li>
                    <li><a href="#!">Подписка</a></li>
                    <li><a href="#!">Эксклюзив</a></li>
                    <li><a href="#!">Черновики</a></li>
                    <li><a href="#!">Аудиокниги</a></li>
                    <li><a href="#!">Посты</a></li>
                    <li><a href="#!">Стать автором</a></li>
                </ul>
            <hr>
        </nav>
    </header>
    <main class="main">


            <div class="container">
                <div class="title">
                    <p class="title__item">Новинки</p>
                </div>
                {% for book in new_books %}
                <div class="book">
                    <a href="{% url 'blog:book_detail' book.id %}" class="book__item" alt="{{book.book_title}}"><img src="{% static 'blog/images/png/Comp 11.png' %}"></a>
                    <p>{{ book.book_title }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="container">
                <div class="title">
                    <p class="title__item">Продолжить чтение</p>
                </div>
                <div class="book">
                    <a href="./book.html" class="book__item"></a>
                    <p>Название<br>Номер страницы</p>
                    <a href="./book.html" class="book__item"></a>
                    <p>Название<br>Номер страницы</p>
                    <a href="./book.html" class="book__item"></a>
                    <p>Название<br>Номер страницы</p>
                </div>
            </div>

            <div class="container">
                <div class="title">
                    <p class="title__item">Рекомендуем</p>
                </div>
                <div class="book">
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                </div>
            </div>

            <div class="container">
                <div class="title">
                    <p class="title__item">Популярное</p>
                </div>
                <div class="book">
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                    <a href="./book.html" class="book__item"></a>
                </div>
            </div>

            <div class="container">
                <div class="title">
                    <p class="title__title">Популярные жанры</p>
                </div>
                <div class="genres">
                    <a href="#!" class="genres__item"></a>
                    <a href="#!" class="genres__item"></a>
                    <a href="#!" class="genres__item"></a>
                    <a href="#!" class="genres__item"></a>
                    <a href="#!" class="genres__item"></a>
                </div>
            </div>
    </main>

    <footer>
        <hr>
        <div class="container__footer">
            <a href="https://t.me/+lhfbvaa6Zwk1OTg6" class="telega"><img src="{% static 'blog/images/png/значок тг.png' %}" alt="Телеграмм"></a>
                <div>
                    <p>В случае, если авторские права нарушены - обращаться на почту <a href="mailto:ml.multilib@gmail.com" class="mail">ml.multilib@gmail.com</a></p>
                    <div class="contacts">
                        <p>О нас</p>
                        <p>Условия пользования</p>
                        <p>Политика конфиденциальности </p>
                    </div>
                </div>
            <img src="{% static 'blog/images/png/упоротая надпись.png' %}" alt="">
        </div>
    </footer>

    <div class="popup" id="active">
        <div class="container__popup">
            <div class="burger__popup">
                <div class="burger__header">
                    <img src="../images/png/burger/дефолт ава.png" alt="">
                    <div class="profil">
                        <a href="../HTML/Profil.html"><p>мой профиль</p></a>
                        <p>Никнейм</p>
                    </div>
                </div>
                <hr>
                <div class="burger__nav">
                    <div class="burger__nav__item">
                        <img src="../images/png/burger/подписка.png" alt="">
                        <a href="#!">Подробнее о подписке</a>
                    </div>
                    <div class="burger__nav__item">
                        <img src="../images/png/burger/уведомления.png" alt="">
                        <a href="#!">уведомления</a>
                    </div>
                    <div class="burger__nav__item">
                        <img src="../images/png/burger/нет в закладках.png" alt="">
                        <a href="#!">Избранное</a>
                    </div>
                    <div class="burger__nav__item">
                        <img src="../images/png/burger/отзывы.png" alt="">
                        <a href="#!">Отзывы</a>
                    </div>
                    <div class="burger__nav__item">
                        <img src="../images/png/burger/настройки.png" alt="">
                        <a href="#!">Настройки</a>
                    </div>
                    <div class="burger__nav__item">
                        <img src="../images/png/burger/написать книгу.png" alt="">
                        <a href="#!">Стать автором</a>
                    </div>
                </div>
                <hr>
                <div class="burger__footer">
                    <a href="" class="exit">Выйти с аккаунта</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../JavaScript/burger.js"></script>

</body>
</html>
{% endblock %}
