.container {
max-width: 1800px;
margin: 0 auto;
}

.book__information {
display: flex;
justify-content: flex-start;
align-items: center;
}

.book__information img {
width: 295px;
height: 422px;
color: #fff;
margin: 25px;
}

.book__description p {
margin-top: 30px;
}

.description {
display: flex;
flex-direction: column;
align-items: center;
}

.book__recommendation {
display: flex;
flex-direction: column;
align-items: center;
}

.book__recommendation p {
margin-bottom: 27px;
}

.book__recommendation .book__item__recommendation {
display: flex;
margin-bottom: 50px;
gap: 40px;
}

.book__recommendation .book__item__recommendation .book__item {
display: inline-block;
background: #fff;
width: 180px;
height: 280px;
border-radius: 10px;
}