@font-face {
font-family: Holtwood One SC;
src: url('../fonts/HoltwoodOneSC-Regular.woff');
}

body {
font-family: 'Holtwood One SC';
background-image: url('../images/png/Main__fon.png');
color: #fff;
background-repeat: no-repeat;
background-size: cover;
}

p {
font-size: 24px;
line-height: 50px;
margin: 0;
}

a {
color: #fff;
text-decoration: none;
}

ul {
list-style: none; 
}

p.title__item {
font-size: 39px;
line-height: 63px;
margin: 15px;
}

.container__header {
display: flex;
align-items: center;
justify-content: space-between;
}

.header .container__header {
align-items: flex-start;
justify-content: space-between;
}

.header__nav input {
width: 700px;
height: 30px;
border-radius: 20px;
border-color: blueviolet;
border-width: 7px;
}

.header__nav .container__header {
align-items: center;
}

.burger {
display: flex;
height: 121px;
width: 173px;
align-items: center;
justify-content: flex-end;
}

.burger:hover {
opacity: 0.5;
}

.burger__item {
background: none;
border: none;
}

.header__list__icons {
display: flex;
align-items: center;
gap: 20px;
}

.header__list {
display: flex;
gap: 30px;
padding: 0;
justify-content: center;
}

.header__list a:hover {
opacity: 0.7;
transition: 0.4s;
}

footer {
background-image: url('../images/png/podval.png');
}

footer p {
font-size: 16px;
margin: 0;
}

footer .container__footer {
display: flex;
justify-content: space-between;
align-items: center;
}

footer .contacts {
display: flex;
justify-content: center;
align-items: center;
gap: 35px;
}

.popup {
position: absolute;
top: 0;
width: 100%;
height: 100%;
display: none;
}

.popup.active {
display: block;
}

.container__popup {
max-width: 450px;
max-height: 530px;
margin-left: auto;
}

.burger__popup {
border-radius: 50px;
background-image: url(../images/png/burger/popup__burger.png);
}

.burger__header {
display: flex;
align-items: center;
}

.burger__nav {
display: flex;
flex-direction: column
}

.burger__nav__item {
display: flex;
align-items: center;
gap: 20px;
}

.burger__footer {
display: flex;
justify-content: center;
}

.burger__footer a {
font-size: 30px;
color: #CF0404;
margin: 20px;
}