.container {
margin: 50px auto;
max-width: 1550px;
}

.populir p {
font-size: 40px;
margin: 15px;
}

.book__populir {
display: flex;
align-items: center;
justify-content: center;
gap: 83px;
margin-bottom: 70px;
}

.book__populir .book__item {
display: inline-block;
background: #fff;
width: 180px;
height: 280px;
border-radius: 10px;
}


